In [1]:
import pandas as pd

In [15]:
df = pd.DataFrame.from_csv('../data/curves.csv', index_col = None)
df_ref = pd.DataFrame.from_csv('../data/reference.csv', index_col = None)

C:\Users\cogillsb\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.
C:\Users\cogillsb\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

In [7]:
df.head(n=5)

,Orgs,50.05,50.08333333,50.11666667,50.15,50.18333333,50.21666667,50.25,50.28333333,50.31666667,...,94.65,94.68333333,94.71666667,94.75,94.78333333,94.81666667,94.85,94.88333333,94.91666667,94.95
0,ACBA_16S,0.144824,0.145542,0.146176,0.146641,0.146869,0.146856,0.146614,0.146157,0.145520,...,0.006768,0.006998,0.007254,0.007536,0.007848,0.008191,0.008567,0.008978,0.009413,0.009861
1,ACBA_16S,0.183215,0.178016,0.172789,0.167506,0.162123,0.156527,0.150591,0.144297,0.138076,...,-0.002584,-0.002344,-0.002051,-0.001785,-0.001608,-0.001524,-0.001516,-0.001568,-0.001662,-0.001777
2,ACHA_16S,0.119427,0.125203,0.130709,0.135678,0.139899,0.143392,0.146235,0.148486,0.150122,...,0.014407,0.013861,0.013386,0.013063,0.012959,0.013087,0.013447,0.014024,0.014754,0.015561
3,ACHA_16S,0.145760,0.145051,0.144264,0.143324,0.142190,0.140973,0.139821,0.138770,0.137417,...,0.005754,0.005547,0.005218,0.004879,0.004618,0.004433,0.004297,0.004188,0.004095,0.004009
4,ACJO_16S,0.139114,0.138335,0.137470,0.136432,0.135148,0.133595,0.131765,0.129672,0.127414,...,0.003715,0.003936,0.004304,0.004737,0.005168,0.005605,0.006073,0.006591,0.007148,0.007723

In [11]:
df_ref.head(n=5)

  4-6 LETTER CODE                     SPECIES  ID
0            ACBA     Acinetobacter baumannii   1
1            ACHA  Acinetobacter haemolyticus   3
2            ACJO     Acinetobacter johnsonii   4
3            ACLW       Acinetobacter lwoffii   5
4            AECA            Aeromonas caviae   9

In [25]:
df_cln = df.copy()
orgs = list(df['Orgs'].values)
new_orgs = []
k = [str(x) for x in df_ref['ID'].values]
id_dict = dict(zip(k, df_ref['4-6 LETTER CODE'].values))
for org in orgs:
    org = org.split('_')
    
    if org[0] in id_dict.keys():
        org[0] = id_dict[org[0]]
    if org[0] in id_dict.values():
        new_orgs.append('_'.join(org))
    else:
        new_orgs.append('NULL')
    
df_cln['Orgs'] = new_orgs
df_cln = df_cln[df_cln['Orgs']!='NULL']
df_cln.to_csv('curves_cln.csv', index = False)

In [22]:
id_dict.keys()

dict_keys([1, 3, 4, 5, 9, 6, 7, 8, 10, 17, 12, 14, 15, 11, 13, 20, 18, 19, 21, 22, 16, 23, 24, 25, 26, 29, 30, 31, 32, 27, 28, 38, 39, 33, 34, 36, 35, 37, 40, 41, 42, 43, 44, 45, 46, 47, 68, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 60, 63, 64, 65, 75, 76, 77, 78, 90, 79, 81, 80, 91, 82, 83, 84, 85, 86, 89, 92, 93, 94, 87, 95, 88, 96, 97, 98])